@mixin flexbox(
    $justifyContent: flex-start,
    $alignItems: stretch,
    $flexDirection: row,
    $flexGrow: 0,
    $flexWrap: nowrap
) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $flexDirection;
    flex-grow: $flexGrow;
    flex-wrap: $flexWrap;
}

@mixin button($background, $borderColor, $color) {
    background: $background;
    border: 1px solid $borderColor;
    color: $color;
    padding: 10px 30px;
    border-radius: 3px;
}
