:root {
    --medium-gray: #d1d0d8;
    --primary-color: #059862;
    --primary-color-tint: #e9f5e9;
    --white: #fff;
    --black: #000;
    --lightgray: lightgray;
    --gray: rgb(100, 91, 91);
    --blue: rgb(34, 106, 240);
    --red: rgb(187, 6, 6);
    --yellow: #fc0;
}
