/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    --medium-gray: #d1d0d8;
    --primary-color: #059862;
}
* {
    font-family: "Roboto", sans-serif;
}
.fab-button {
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    outline: none;
    text-align: center;
    align-items: center;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}
