.search-container {
    display: flex;
    height: calc(100vh - 65px);
    .search-section {
        min-width: 300px;
        border-right: 1px solid lightgray;
        display: flex;
        flex-direction: column;
        .search-form {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            .dropdown-label {
                font-size: 14px;
                color: rgb(100, 91, 91);
                padding: 10px 20px;
            }
        }
        .button-section {
            display: flex;
            justify-content: space-around;
            padding-bottom: 30px;
            .clear-button {
                background: #fff;
                border: 1px solid var(--primary-color);
                padding: 10px 30px;
                color: var(--primary-color);
                border-radius: 3px;
            }
            .submit-button {
                background: var(--primary-color);
                border: 1px solid var(--primary-color);
                padding: 10px 30px;
                color: #fff;
                border-radius: 3px;
            }
        }
    }
    .results-section {
        background: #e9f5e9;
        flex-grow: 1;
        overflow-y: auto;
        .top-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            font-weight: 600;
            padding: 15px;
            .checkbox-container {
                display: flex;
                align-items: center;
            }
        }
        .bottom-section {
            height: 100%;
            padding: 15px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
