<div class="search-container">
    <div class="search-section">
        filter area
    </div>
    <div class="results-section">
        <div class="top-section">
            <div class="results-message">{{employees.length}} Results Found</div>
            <div class="checkbox-container">
                <input type="checkbox" name="filterBangloreEmployees" value="true">
                <label for="filterBangloreEmployees"> Show only Bangalore Employees</label>
            </div>
        </div>
        <div class="bottom-section">
            <ng-container *ngFor="let employee of employees;">
                <app-employee-card [employee]="employee"></app-employee-card>
            </ng-container>
        </div>
    </div>
</div>