<div class="search-container">
    <div class="search-section">
        <form [formGroup]="searchForm" class="search-form">
            Department:<br />
            <select formControlName="department">
                <option *ngFor="let department of departments" [ngValue]="department">{{ department }}</option>
            </select>
            Experience: <br />
            <select formControlName="experience">
                <option *ngFor="let exp of experience" [ngValue]="exp.id">{{ exp.description }}</option>
            </select>
            Year of Joining: <br />
            <select formControlName="dateOfJoining">
                <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
            </select>
            Location:<br />
            <select formControlName="location">
                <option *ngFor="let location of locations" [ngValue]="location">{{ location }}</option>
            </select>
            Team: <br />
            <select formControlName="team">
                <option *ngFor="let team of teams" [ngValue]="team">{{ team }}</option>
            </select>
        </form>
        <button (click)="submit()">Submit</button>
        <button (click)="cancel()">Cancel</button>
    </div>
    <div class="results-section">
        <div class="top-section">
            <div class="results-message">{{employees?.length}} Results Found</div>
            <div class="checkbox-container">
                <input type="checkbox" name="filterBangloreEmployees" [(ngModel)]="isChecked"
                    (change)="onClickOfCheckbox(isChecked)">
                <label for="filterBangloreEmployees"> Show only Bangalore Employees</label>
            </div>
        </div>
        <div class="bottom-section">
            <ng-container *ngFor="let employee of employees;">
                <app-employee-card [employee]="employee"></app-employee-card>
            </ng-container>
        </div>
    </div>
</div>