.search-container {
    display: flex;
    height: calc(100vh - 65px);
    .search-section {
        min-width: 300px;
        border-right: 1px solid lightgray;
        .search-form {
            display: flex;
            flex-direction: column;
        }
    }
    .results-section {
        background: #e9f5e9;
        flex-grow: 1;
        overflow-y: auto;
        .top-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            font-weight: 600;
            padding: 15px;
            .checkbox-container {
                display: flex;
                align-items: center;
            }
        }
        .bottom-section {
            height: 100%;
            padding: 15px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
